.repeat-form-block {
  padding: size(30) 0 size(10) 0;
  background-image: url("../img/form-back.png");
  @include back-img;
  background-color: #000000;
}
.form-title, .form-subtitle {
  color: #ffffff;
  text-align: center;
}
.form-title {
  font-size: size(80);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(78);
}
.form-subtitle {
  font-size: size(50);
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(50);
}
//Form basic styles
.wpcf7-form {
  * {
	direction: rtl !important;
  }
  ::placeholder {
	@include input-text;
	opacity: 0.5;
  }
  ::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	@include input-text;
	opacity: 0.5;
  }
}
div.wpcf7 input[type="text"],
div.wpcf7 input[type="email"],
div.wpcf7 input[type="tel"],
div.wpcf7 input[type="submit"],
div.wpcf7 textarea,
div.wpcf7 select {
  @include input-text;
  @include input-style;
}
div.wpcf7 textarea {
  height: size(122);
}
div.wpcf7 input[type="submit"] {
  display: flex;
  justify-content: center;
  text-align: center;
  font-style: normal;
  background-color: $yellow-main;
  font-weight: 700;
  transition: box-shadow .5s;
  &:hover {
	box-shadow: unset;
	transition: box-shadow .5s;
  }
}


//Popup
.pop-form {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999999999999;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  overflow-y: auto;
  background-color: rgba(255, 255, 255, 0.68);
  transition: opacity .5s;
  &.show-popup {
	opacity: 1;
	pointer-events: all;
	transition: opacity .5s;
  }
  .logo-form {
	flex: 0 0 25%;
	max-width: 25%;
	img {
	  max-height: size(235);
	}
  }
}

.curr-body-hidden {
  overflow: hidden;
}
.float-form {
  @include d-center;
  position: relative;
  transition: all .5s;
  z-index: 99999999999;
  transform: translateY(-100%);
  opacity: 0;
  border-radius: 50%;
  box-shadow: 0 0 30px 2px rgba(0, 0, 0, 0.35);
  background-color: #ffffff;
  padding: 10%;
  max-height: 100vh;
  &.show-float-form {
	opacity: 1;
	transform: translateY(0);
  }
  &:after {
	display: block;
	content: '';
	padding-bottom: 100%;
  }
}
.form-col {
  position: relative;
  @include d-center;
  flex-direction: column;
}
.pop-form-title, .pop-form-subtitle {
  color: $text-color;
  text-align: center;
}
.pop-form-title {
  font-weight: 700;
  font-size: size(60);
  line-height: size(66);
  margin-bottom: 10px;
}
.pop-form-subtitle {
  font-weight: 400;
  font-size: size(45);
  line-height: size(50);
  margin-bottom: size(25);
}
.close-form {
  position: absolute;
  top: 8px;
  cursor: pointer;
  color: $text-color;
  font-size: size(29);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(25);
  text-align: center;
}
