#MainNav{
  ul{
	display: flex;
	height: 100%;
	li{
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  padding: 0 size(15);
	  a{
		@include base-text;
		color: #ffffff;
		text-align: center;
		transition: color .5s;
		&:hover {
		  color: $yellow-main;
		  transition: color .5s;
		}
	  }
	}
  }
  ul.sub-menu {
	position: absolute;
	top: 100%;
	display: flex;
	flex-direction: column;
	z-index: 99999;
	padding: size(16) size(34);
	height: auto;
	align-items: center;
	background-color: #ffffff;
	transform: translateY(-1rem);
	opacity: 0;
	pointer-events: none;
	transition: all .5s;
	&.show-menu {
	  transform: translateY(0);
	  opacity: 1;
	  pointer-events: all;
	  transition: all 1s;
	}
	li {
	  justify-content: center !important;
	  align-items: center !important;
	  margin-bottom: 10px;
	  a {
		position: relative;
		@include d-center;
		color: $text-color;
		text-align: center;
		white-space: nowrap;
		&:hover:after {
		  content: '';
		  display: block;
		  height: 1px;
		  width: 40%;
		  position: absolute;
		  bottom: 0;
		  background-color: $text-color;
		}
	  }
	}
  }
}
.menu-item-has-children {
  position: relative;
}
.back-to-menu, .sub-head {
  display: none !important;
}
header {
  padding: size(25) 0;
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  width: 100%;
  z-index: 999;
}
.header-tel {
  img {
	width: size(17);
	margin-left: 8px;
  }
  &:hover {
	.tel-number {
	  color: $yellow-main;
	  transition: color .5s;
	}
  }
}
.tel-number {
  @include base-text;
  color: #ffffff;
  transition: color .5s;
  text-align: center;
}
//Breadcrumbs
.breads-container {
  padding-top: size(12);
  padding-bottom: size(20);
}
.bread-row {
  a, span {
	font-size: size(18);
	font-weight: 400;
	color: $text-color;
	transition: color .5s;
  }
  a:hover {
	color: $purple-main;
	transition: color .5s;
  }
}
//Triggers
.triggers-wrap {
  position: fixed;
  left: 0;
  top: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  z-index: 999;
}
.pop-trigger {
  @include d-center;
  padding: 4px size(20);
  height: size(50);
  box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.59);
  border-radius: 0 size(25) size(25) 0;
  background-color: $yellow-main;
  transition: box-shadow .5s;
  &:hover {
	box-shadow: unset;
	transition: box-shadow .5s;
  }
}
.social-link {
  @include d-center;
  margin: 6px size(24) 3px 10px;
  img {
	height: size(40);
  }
}
////Footer
#go-top {
  position: absolute;
  right: 5%;
  top: 2rem;
  display: flex;
  z-index: 9999;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
  img {
	height: 5rem;
	margin-bottom: 0;
	animation: jump-top 1.2s ease-in-out alternate infinite;
	z-index: 9;
  }
}
//Footer
footer {
  position: relative;
  padding-top: size(140);
  .pop-form-title, .pop-form-subtitle {
	color: #ffffff;
  }
}
.footer-main {
  padding-top: size(30);
  background-color: #ffffff;
  background-image: url("../img/footer-back.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
}
.footer-grad-back {
  position: relative;
  padding-bottom: size(90);
  background-image: url("../img/foo-overlay.png");
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
}
.foo-title {
  color: #ffffff;
  font-size: size(36);
  font-weight: 700;
  line-height: size(36);
  text-align: right;
  margin-bottom: size(28);
}
.facebook-widget {
  overflow-x: hidden;
}
.hop-hey.two-columns {
  column-count: 2;
  column-gap: 2rem;
}
footer {
  position: relative;
  li {
	-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
	page-break-inside: avoid; /* Firefox */
	break-inside: avoid-column;
	position: relative;
	a {
	  font-size: size(22);
	  line-height: size(22);
	  font-weight: 700;
	  margin-bottom: 10px;
	  color: #ffffff;
	  transition: color .5s;
	  &:hover {
		color: $yellow-main;
		cursor: pointer;
		transition: color .5s;
	  }
	}
  }
  .contact-list {
	flex-direction: column;
	align-items: flex-start;
	.contact-item {
	  padding-right: 0;
	}
	a {
	  display: flex;
	  align-items: center;
	  margin-bottom: size(25);
	}
	img {
	  margin-left: 5px;
	}
  }
}
.foo-form-block {
  margin-bottom: size(105);
  .form-title {
  }
  .logo img {
	max-height: size(160);
  }
}
