.post-card-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  padding: 5%;
}
.cat-card {
  padding: 0 10%;
  align-items: center;
}
.post-img, .home-team-img {
  position: relative;
  display: flex;
  width: 100%;
  @include back-img;
  margin-bottom: size(19);
  &:after {
	padding-bottom: 50%;
	content: '';
	display: block;
  }
}
.home-team-img {
  &:after {
	padding-bottom: 100%;
  }
}
.cat-image {
  border-radius: 50%;
  margin-bottom: size(60);
  &:after {
	padding-bottom: 100%;
  }
}
.post-overlay {
  @include overlay;
  background-image: url("../img/post-overlay.png");
  @include back-img;
}
.post-card-content {
  flex-grow: 1;
  .mid-title:hover {
	color: $text-color;
  }
}
.post-col {
  margin-bottom: 2rem;
}
.faq {
  margin-top: -6rem;
  overflow-x: hidden;
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: auto 88%;
  position: relative;
  padding-top: size(80);
  padding-bottom: size(40);
  .question-header {
	border: none !important;
	background-color: #ffffff;
	transition: background-color .5s;
	&.active-faq {
	  background-color: $yellow-main;
	  transition: background-color .5s;
	  .q-icon {
		color: #ffffff;
		transition: color .5s;
	  }
	}
  }
  .card {
	border: none !important;
	box-shadow: 0 2px 18px 1px rgba(22, 22, 22, 0.17);
  }
  .question-card {
	margin-bottom: size(15);
  }
  .base-output {
	h1, h2 {
	  font-size: size(40);
	  line-height: size(42);
	}
	h3 {
	  font-size: size(36);
	  line-height: size(38);
	}
	h4 {
	  @include mid-title;
	}
	h5 {
	  font-size: size(27);
	  line-height: size(28);
	}
	h6 {
	  @include base-text;
	  font-weight: 700;
	}
	p {
	  margin-bottom: size(15);
	}
	p, li {
	 font-size: size(20);
	  line-height: size(21);
	}
  }
}
.question-title {
  display: flex;
  align-items: center;
  @include base-text;
  font-weight: 700;
  border: none !important;
  text-align: right;
  background-color: transparent;
  padding: size(30) size(70);
  width: 100%;
  min-height: size(60);
}
.answer-body {
  background-color: transparent;
  padding: 0 size(70) size(27) size(70);
}
.faq-home {
  .q-icon {
	color: $yellow-main;
  }
}
.q-icon {
  position: absolute;
  top: 0;
  right: 0;
  padding: size(25);
  min-width: size(70);
  color: $purple-main;
  font-family: $almoni-tzar;
  font-size: size(75);
  line-height: size(75);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  transition: color .5s;
}
.arrow-bottom {
  position: absolute;
  left: size(25);
  width: size(26);
  transition: transform .5s;
}
.arrow-top {
  transform: scale(1, -1);
  transition: transform .5s;
}
.faq-main-img img {
  display: none;
}
//Basic slider
.slider-base-wrap {
  position: relative;
  padding: size(150) 0;
}
.black-slider {
  background-color: #000000;
}
[dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
  z-index: 33;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: size(17);
  height: size(26);
}
.slick-prev:before, .slick-next:before{
  color: transparent;
}
[dir="rtl"] .slick-prev {
  background-image: url("../iconsall/arrow-right.png");
}
[dir="rtl"] .slick-next{
  background-image: url("../iconsall/arrow-left.png");
}
.arrows-slider-black {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	top: calc(100% + 2rem);
  }
  .slick-prev:before, .slick-next:before{
	color: transparent;
  }
  [dir="rtl"] .slick-prev {
	right: 0;
  }
  [dir="rtl"] .slick-next{
	left: 0;
  }
}
.slider-post-arrow {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	top: 30%;
  }
  .slick-slider .slick-track, .slick-slider .slick-list {
	display: flex !important;
  }
}
.slider-gallery-arrows, .slider-post-arrow {
  [dir="rtl"] .slick-prev {
	background-image: url("../iconsall/arrow-right-black.png");
  }
  [dir="rtl"] .slick-next{
	background-image: url("../iconsall/link-arrow.png");
  }
}
.slider-gallery-arrows {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	top: calc(100% + 1rem);
  }
}
.slider-text-wrap {
  padding: size(70) 0 size(140) 5%;
}
.slider-image-wrap {
  position: absolute;
  overflow-x: hidden;
  background-image: url("../img/circle-back.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: auto 100%;
  padding: 0;
  top: 0;
  right: 0;
  z-index: 10;
  img {
	position: relative;
	z-index: 9;
  }
}
.transparent-slider {
  margin-top: -1rem;
  .black-slider {
	background-color: #ffffff;
  }
  .base-output.white-output {
	* {
	  color: $text-color !important;
	}
  }
  .arrows-slider-black {
	[dir="rtl"] .slick-prev {
	  background-image: url("../iconsall/arrow-right-black.png");
	}
	[dir="rtl"] .slick-next{
	  background-image: url("../iconsall/link-arrow.png");
	}
  }
}
//Team (teacher's card)
.teacher-col {
  margin-bottom: 1rem;
}
.teacher-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  @include back-img;
  height: 100%;
  cursor: pointer;
  &:after {
	content: '';
	display: block;padding-bottom: 100%;
  }
  &:hover {
	.about-teacher-wrap {
	  opacity: 1;
	  transition: opacity .5s;
	}
  }
}
.teacher-name-wrap {
  position: absolute;
  bottom: 0;
  z-index: 4;
  @include d-center;
  padding: 10px size(20);
  min-height: 11%;
  width: 100%;
  background-color: rgba(255, 224, 135, 0.76);
}
.teacher-name {
  color: #222222;
  font-size: size(35);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(48);
  text-align: center;
}
.base-teach-overlay {
  @include overlay;
  background-image: url("../img/teacher-overlay.png");
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
}
.about-teacher-wrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 7% 7% 12% 7%;
  background-color: rgba(0, 0, 0, 0.7);
  overflow-y: auto;
  position: absolute;
  top: 0;
  height: 100%;
  opacity: 0;
  transition: opacity .5s;
}
.about-teacher-text {
  color: #ffffff;
  font-size: size(20);
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(30);
  text-align: center;
}
//Video modal
.video-modal {
  .modal {
	z-index: 9999999999999999999999;
  }
  .modal-body {
	position: relative;
	padding: 0;
  }
  .modal-content {
	background: none;
	border: none;
  }
  .modal-backdrop {
	z-index: 10;
  }
  .close {
	position: absolute !important;
	top: -50px;
	right: -50px;
	width: 50px;
	height: 50px;
  }
  .modal .close-icon {
	padding: 0;
	margin: 0;
	font-size: 3rem;
  }
  .modal-body{
	iframe{
	  width: 100%;
	  height: 500px;
	  position: relative;
	}
  }
}
