/* ----------- Non-Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {}
/* ----------- Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) {}


//Bootstrap 4 breakpoints
@media (min-width: 1920px) {
  html{
	font-size: 25px;
  }
  .ben-img {
	right: -50%;
	img {
	  max-height: size(860);
	}
  }
  .benefit-number {
	font-size: size(120);
	line-height: size(65);
	margin-right: size(60);
  }
  .circle-ben {
	width: size(576);
	height: size(576);
  }
  .pop-form-title {
	font-size: size(91);
	line-height: size(86);
  }
  .pop-form-subtitle {
	font-size: size(56);
	line-height: size(50);
  }
  .faq {
	padding-top: size(150);
	background-size: auto 100%;
  }
  .container {
	max-width: 75%;
  }
  .form-title {
	font-size: size(111);
	line-height: size(78);
  }
  .form-subtitle {
	font-size: size(56);
	line-height: size(60);
  }
  .post-form-title {
	font-size: size(70);
	line-height: size(73);
  }
  .post-form-subtitle {
	font-size: size(29);
	line-height: size(32);
  }
  .form-title-class {
	font-size: size(52);
	line-height: size(53);
  }
  .cats-slider-block {
	[dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	  top: 40%;
	}
  }
}
@media (min-width: 1500px) {
  .container {
	max-width: 80%;
  }
  .home-video-block {
	padding: size(130) 0 size(50) 0;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  html{
    font-size: 19px;
  }
  .container {
	max-width: 85%;
  }
}
@media (max-width: 1500px) {
  .slider-image-wrap {
	top: 10%;
  }
  .ben-img {
	position: absolute;
	right: -100%;
  }
  .ben-title {
	font-size: size(32);
	line-height: size(34);
  }
  .cat-link-side {
	font-size: size(20);
	line-height: size(21);
  }
  .slider-base-wrap {
	padding: size(50) 0;
  }
}
/* Extra large devices (large desktops, 1200px and down) */
@media (max-width: 1200px) {
  html {
	font-size: 20px;
  }
  .ben-img {
	left: 30%;
	right: unset;
	img {
	  max-height: size(700);
	}
  }
  .circle-ben {
	width: size(300);
	height: size(300);
  }
  .benefit-item {
	margin-bottom: size(20);
	&:nth-child(2), &:nth-child(4) {
	  margin-left: size(30);
	}
	&:nth-child(3) {
	  margin-left: size(50);
	}
	&:first-child, &:last-child {
	  margin-left: -1rem;
	}
  }
  .hop-hey.two-columns {
	column-count: 1;
	column-gap: unset;
  }
  .home-post-link {
	font-size: size(23);
	line-height: size(25);
	height: size(32);
  }
  .faq {
	padding-top: size(100);
  }
  .slider-image-wrap {
	top: 15%;
  }
  .cats-slider-block {
	[dir="rtl"] .slick-prev {
	  right: -1rem;
	}
	[dir="rtl"] .slick-next{
	  left: -1rem;
	}
  }
  .video-slide {
	padding: size(25);
  }
  .home-video-block {
	padding: size(50) 0 size(30) 0;
	[dir="rtl"] .slick-prev {
	  right: -10px;
	}
	[dir="rtl"] .slick-next{
	  left: -10px;
	}
  }
  .slider-base-wrap {
	padding: size(50) 0;
  }
  .home-slider-page {
	.slider-text-wrap {
	  padding-left: 0 !important;
	}
  }
}
@media (max-width: 991px) {
  .faq {
	padding-top: size(30);
	background-image: none !important;
  }
  .slider-image-wrap {
	display: none !important;
  }
  .slider-base-wrap {
	padding: size(30) 0;
  }
  .faq {
	margin-top: 0;
  }
  .slider-base-wrap {
	padding: 0;
  }
  .contact-image {
	flex: 0 0 115%;
	max-width: 115%;
  }
  .team-slide {
	padding: 2rem;
	transform: scale(1);
	&.is-active{
	  transform: scale(1);
	}
  }
  .home-team-block {
	.slick-current{
	  transform: scale(1);
	}
  }
  .video-slide {
	padding: size(30);
  }
  .home-post-col {
	&:after {
	  content: '';
	  display: block;
	  padding-bottom: 65%;
	}
  }
  .benefits-section {
	background-size: 80%;
  }
}
/* Large devices (desktops, 992px and down) */
@media (max-width: 992px) {
  html{
    font-size: 19px;
  }
  .benefits-section {
	background-size: 80%;
  }
  .ben-img-col {
	display: none;
  }
  .circle-ben {
	width: size(400);
	height: size(400);
  }
  .about-img-col {
	img {
	  width: 100%;
	  margin-top: 1rem;
	  margin-bottom: 2rem;
	}
  }
  .cats-slider-block {
	[dir="rtl"] .slick-prev {
	  right: -2rem;
	}
	[dir="rtl"] .slick-next{
	  left: -2rem;
	}
  }
  .video-modal {
	.modal-body {
	  iframe {
		height: 400px;
	  }
	}
  }
  .home-video-block {
	[dir="rtl"] .slick-prev {
	  right: -1rem;
	}
	[dir="rtl"] .slick-next{
	  left: -1rem;
	}
  }
  .contacts-footer-menu {
	order: 2;
  }
  .foo-menu-links {
	order: 3;
	margin-top: 3rem;
  }
  .hop-hey.two-columns {
	column-count: 2;
	column-gap: 2rem;
  }
}
/* Medium devices (tablets, 768px and down) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {
  html{
    font-size: 18px;
  }
  .circle-ben {
	width: size(300);
	height: size(300);
  }
  .benefits-section {
	background-size: 93%;
	.container {
	  max-width: 100%;
	}
  }
  .float-form {
	padding: 10% 15%;
  }
  .pop-form-title {
	font-size: size(46);
	line-height: size(50);
	margin-bottom: 10px;
  }
  .pop-form-subtitle {
	font-size: size(36);
	line-height: size(40);
  }
  .home-img-col {
	display: none !important;
  }
  .purple-circle {
	display: none;
  }
  .back-to-menu, .sub-head {
	display: block !important;
  }
  .form-title {
	font-size: size(50);
	line-height: size(58);
  }
  .form-subtitle {
	font-size: size(36);
	line-height: size(40);
  }
  nav#MainNav div.main_menu > ul {
	display: block;
	height: calc(100vh - 50px);
	overflow-x: hidden;
	overflow-y: auto;
	transform: unset !important;
  }
  nav#MainNav ul li:after {
	display:none;
  }
  nav#MainNav ul li {
	position: relative;
	justify-content: flex-start;
  }
  nav#MainNav ul li a {
	display: block;
	color: #fff !important;
	text-align: right !important;
	white-space: normal !important;
	padding: 5px 10px;
	width: calc(100% - 20px);
	justify-content: flex-start !important;
	&:after {
	  display: none;
	}
  }
  nav#MainNav div.main_menu > ul > li > a {
	padding: 5px 10px 5px 30px;
	width:calc(100% - 40px);
  }
  nav#MainNav div.main_menu ul li.active,
  nav#MainNav div.main_menu ul li.current-menu-item {
	background-color: #3b3a3a;
  }
  nav#MainNav div.main_menu ul.active .back-to-menu:after,
  nav#MainNav div.main_menu ul li.menu-item-has-children:after {
	display: block;
	content: '';
	position: absolute;
	top: 12px;
	left: 6px;
	width: 16px;
	height: 16px;
	background: url(../iconsall/wmob-menu-arrow.svg) center center no-repeat;
	background-size:contain;
	-webkit-transition:all .5s ease;
	transition: all .5s ease;
  }
  nav#MainNav div.main_menu ul.active .back-to-menu:after {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
  }
  nav#MainNav div.main_menu ul.active li.menu-item-has-children {
	padding: 0;
	width: 100%;
  }
  nav#MainNav div.main_menu ul.active li.menu-item-has-children:after {
	display: none;
  }
  ul.sub-menu {
	display: none;
	padding: 1rem 0 !important;
  }
  nav#MainNav div.main_menu > ul > li > ul.sub-menu {
	display: block;
	position: absolute;
	top:0;
	width: 100%;
	opacity: 0;
	overflow: hidden;
	pointer-events: none;
	background-color: inherit;
	-webkit-transition:all .5s ease;
	transition: all .5s ease;
  }
  nav#MainNav div.main_menu > ul > li > ul.sub-menu.chekd {
	height:0;
	position: relative;
	visibility: visible;
	pointer-events: auto;
  }
  nav#MainNav ul.sub-menu li:not(.back-to-menu) {
	display: block;
	width: calc(100% - 10px);
	margin: 0 auto 0 0;
	padding: 0;
	position: relative;
  }
  nav#MainNav ul.sub-menu li:nth-child(1),
  nav#MainNav	ul.sub-menu li:nth-child(2) {
	margin: 0;
	width: 100%;
  }
  nav#MainNav div.main_menu > ul > li.active > ul.sub-menu {
	opacity: 1;
  }
  nav#MainNav div.main_menu > ul.active > li > a {
	position: absolute;
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
  }
  nav#MainNav .back-to-menu {
	cursor: pointer;
  }
}
@media (max-width: 767px) {
  .contacts-footer-menu {
	margin-top: 3rem;
  }
  .hop-hey.two-columns {
	column-count: 1;
	column-gap: unset;
  }
}
@media (max-width: 650px) {
  .cats-slider-block {
	[dir="rtl"] .slick-prev,
	[dir="rtl"] .slick-next{
	  top: 70%;
	  width: size(22);
	  height: size(38);
	}
	[dir="rtl"] .slick-prev {
	  right: 0;
	}
	[dir="rtl"] .slick-next{
	  left: 0;
	}
  }
}
/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {
  html{
    font-size: 17px;
  }
  .hop-hey.two-columns {
	column-count: 2;
	column-gap: 1rem;
  }
  .footer-main {
	background-size: 100%;
	background-position: top center;
  }
  .header-tel {
	position: fixed;
	right: 1rem;
	bottom: 1rem;
	border-radius: 50%;
	width: 3rem;
	height: 3rem;
	z-index: 222;
	margin: 0;
	padding: size(10);
	background-color: #000000;
	border: 2px solid $yellow-main;
	animation: jump 1.2s ease-in-out alternate infinite;
	img {
	  width: 1.2rem;
	  margin: 0;
	  transform: scale(1, -1);
	  animation: rotating 1.2s ease-in-out alternate infinite;
	}
	.tel-number {
	  display: none;
	}
  }
  .slider-post-arrow {
	padding-bottom: 3rem;
	[dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	  top: calc(100% + 1rem);
	}
	[dir="rtl"] .slick-prev {
	  right: calc(50% - 2rem);
	}
	[dir="rtl"] .slick-next{
	  left: calc(50% - 2rem);
	}
	.post-card-column {
	  padding-right: 5px !important;
	  padding-left: 5px !important;
	}
  }
  .post-form-title {
	font-size: size(45);
	line-height: size(48);
  }
  .post-form-subtitle {
	font-size: size(22);
	line-height: size(22);
  }
  .form-title-class {
	font-size: size(35);
	line-height: size(34);
  }
  .content-post-col {
	order: -1;
	margin-bottom: 2rem;
  }
  .main-home-title {
	font-size: size(73);
	line-height: size(60);
  }
  .home-block-link {
	&.main-link {
	  padding: 10px size(27);
	}
  }
  .video-modal {
	.modal-body {
	  iframe {
		height: 300px;
	  }
	}
	.close {
	  right: -14px;
	}
  }
  .pop-form-title {
	font-size: size(26);
	line-height: size(26);
  }
  .pop-form-subtitle {
	font-size: size(20);
	line-height: size(20);
	margin-bottom: 5px;
  }
  .benefits-section {
	background-size: 95%;
  }
  .circle-ben {
	width: size(200);
	height: size(200);
  }
  .benefit-item {
	margin-bottom: size(10);
	&:nth-child(2), &:nth-child(4) {
	  margin-left: 1rem;
	}
	&:nth-child(3) {
	  margin-left: 2rem;
	}
	&:first-child, &:last-child {
	  margin-left: -1rem;
	}
  }
  .benefit-number {
	font-size: size(40);
	line-height: size(45);
	margin-right: size(15);
  }
  .ben-title {
	font-size: size(24);
	line-height: size(24);
  }
  .post-form-wrap {
	&:before {
	  display: none;
	}
  }
  .post-form-img {
	display: none;
  }
}







/*
::::: Custom media queries :::::
*/

@media (max-width: 450px) {
  .page-top {
	background-image: none;
  }
  .ben-title {
	font-size: 1rem;
	line-height: 1rem;
  }
  .circle-col {
	padding-right: 0;
  }
  .circle-ben {
	width: size(170);
	height: size(170);
  }
  .benefits-col {
	margin-left: -1rem;
  }
  .benefit-item {
	margin-bottom: 5px;
	&:nth-child(2), &:nth-child(4) {
	  margin-left: 0.5rem;
	}
	&:nth-child(3) {
	  margin-left: 1rem;
	}
	&:first-child, &:last-child {
	  margin-left: -0.5rem;
	}
  }
  .cats-slider-block {
	[dir="rtl"] .slick-prev,
	[dir="rtl"] .slick-next {
	  top: 50%;
	}
  }
  .hop-hey.two-columns {
	column-count: 1;
	column-gap: unset;
  }
  .video-modal {
	.modal-body {
	  iframe {
		height: 250px;
	  }
	}
  }
}
