@import "mixins";
@import "reset";
@import "fonts";
@import "vars";
@import "colors";
@import "setup";
@import "hover";
@import "animate";
@import "header-footer";
@import "partials";
@import "forms";


body{
  font-family: Almoni, sans-serif;
  text-align: right;
}
.wow {
  visibility: hidden;
}
.base-text {
  @include base-text;
}
.base-title {
  @include base-title;
}
.mid-title {
  @include mid-title;
}
.cat-card-title, .cat-text-item {
  color: #ffffff;
  text-align: center;
  margin-bottom: size(16);
}
.cat-text-item {
  font-size: size(20);
  line-height: size(22);
  font-weight: 300;
}
.cat-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .mid-title:hover {
	color: $yellow-main;
  }
}
.base-link {
  @include d-center;
  @include base-link;
  @include base-text;
  text-align: center;
  font-weight: 700;
  &:hover {
	@include hover-link;
  }
}
.home-about-link {
  height: size(43);
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.57);
  border-radius: size(22);
}
.home-block-link {
  height: size(50);
  box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.4);
  border-radius: size(25);
  padding: 10px size(20);
  font-size: size(30);
  line-height: size(32);
  &.main-link {
	font-size: size(36);
	line-height: size(38);
	padding: 10px size(97);
	box-shadow: 1px 1px 21px rgba(0, 0, 0, 0.91);
  }
}
.home-post-link {
  padding: 10px size(16) 10px size(60);
  background-image: url("../iconsall/link-arrow.png");
  background-size: size(13);
  background-position: size(10);
  background-repeat: no-repeat;
}
.base-output {
  h1, h2 {
	@include base-title;
  }
  h1, h2, h3, h4, h5, h6 {
	color: $text-color;
	font-weight: 700;
  }
  h3 {
	font-size: size(40);
	line-height: size(42);
  }
  h4 {
	font-size: size(36);
	line-height: size(38);
  }
  h5 {
	@include mid-title;
  }
  h6 {
	font-size: size(27);
	line-height: size(28);
  }
  p {
	margin-bottom: size(25);
  }
  p, li {
	@include base-text;
  }
  ul {
	margin: size(30) 1rem;
  }
  li {
	list-style: disc;
	margin-bottom: size(15);
  }
}
.load-more-link {
  position: relative;
  @include d-center;
  @include mid-title;
  color: #222222;
  text-align: center;
  cursor: pointer;
  margin-bottom: size(60);
  &:after {
	position: absolute;
	bottom: -1rem;
	content: '';
	display: block;
	width: size(26);
	height: size(17);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("../iconsall/faq-bottom.png");
	transition: bottom .5s;
  }
  &:hover:after {
	bottom: -1.5rem;
	transition: bottom .5s;
  }
}
.white-output {
  * {
	color: #ffffff !important;
  }
}
.page-top {
  display: flex;
  align-items: center;
  padding: size(70) 0;
  background-color: #000000;
  background-image: url("../img/top-img.png");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: auto 100%;
}
.top-logo {
  margin: 0 1rem -1rem 1rem;

}
//Categories link on blog page
.cat-link {
  @include d-center;
  @include base-text;
  font-weight: 700;
  text-align: center;
  min-height: size(44);
  box-shadow: 0 0 size(29) rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  padding: size(10) size(45);
  transition: color, background-color .5s;
  &:hover {
	color: #ffffff;
	background-color: $purple-main;
	transition: color, background-color .5s;
  }
  &.current-category {
	color: #ffffff;
	background-color: $purple-main;
  }
}
.current-cat {
  color: #ffffff;
  background-color: $purple-main;
}
//Contact list on contact page
.contact-info-footer, .contact-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.contact-page {
  padding: size(150) 0 size(50) 0;
  .contact-list {
	flex-wrap: wrap;
	margin: size(20) 0;
  }
  .contact-item {
	margin-bottom: 1rem;
	span {
	  color: $text-color;
	  font-size: size(24);
	  font-weight: 700;
	  line-height: size(25);
	  text-align: right;
	  transition: color .5s;
	}
	&:hover {
	  span {
		color: $purple-main;
		transition: color .5s;
	  }
	  .contact-icon-wrap {
		background-color: $purple-main;
		transition: background-color .5s;
	  }
	}
  }
  .contact-icon-wrap {
	@include d-center;
	background-color: #171717;
	min-width: size(34);
	width: size(34);
	height: size(34);
	padding: 8px;
	border-radius: 50%;
	transition: background-color .5s;
  }
}
.contact-icon-wrap {
  margin-left: 6px;
}
.contact-content-row {
  position: relative;
  z-index: 10;
}
.contact-image {
  position: absolute;
  right: 0;
  z-index: 7;
  display: flex;
  justify-content: center;
  flex: 0 0 105%;
  max-width: 105%;
  top: -9rem;
  img {
	max-height: 110%;
  }
}
.contact-page-output {
  * {
	text-align: center;
	color: #171717;
  }
  h1, h2 {
	font-size: size(61);
	line-height: size(42);
  }
  h3 {
	font-size: size(50);
	line-height: size(52);
  }
  h4 {
	@include base-title;
  }
  h5 {
	font-size: size(35);
	line-height: size(36);
  }
  h6 {
	@include mid-title;
  }
  p, li {
	font-size: size(31);
	line-height: size(32);
  }
}
.post-output {
  p, li {
	font-size: size(20);
	line-height: size(22);
  }
}
.team-item-output {
  h1, h2 {
	font-size: size(35);
	line-height: size(38);
  }
  h1, h2, h3, h4, h5, h6 {
	color: $text-color;
	font-weight: 700;
	text-align: center;
  }
  h3 {
	font-size: size(32);
	line-height: size(32);
  }
  h4 {
	font-size: size(28);
	line-height: size(30);
  }
  h5 {
	font-size: size(25);
	line-height: size(27);
  }
  h6 {
	font-size: size(22);
	line-height: size(24);
  }
  p {
	margin-bottom: size(10);
	text-align: center;
  }
  p, li {
	font-size: size(20);
	line-height: size(22);
	font-weight: 300;
  }
  ul {
	margin: size(30) 1rem;
  }
  li {
	list-style: disc;
	margin-bottom: size(10);
  }
}
//Post
.post-body {
  padding: size(30) 0;
  margin-bottom: 2rem;
}
.post-form-title, .post-form-subtitle {
  text-shadow: 1px 1px 21px rgba(0, 0, 0, 0.26);
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  font-size: size(55);
  line-height: size(60);
  margin-bottom: 10px;
}
.post-form-subtitle {
  font-size: size(25);
  font-weight: 400;
  line-height: size(26);
}
.form-title-class {
  font-size: size(42);
  line-height: size(43);
}
.post-form-wrap {
  @include d-center;
  flex-direction: column;
  background-color: $green-main;
  padding: size(40) 10%;
  position: relative;
  &:before {
	content: '';
	position: absolute;
	left: 99%;
	display: block;
	border: size(50) solid transparent;
	border-left: size(50) solid $green-main;
  }
}
.post-form-img {
  position: absolute;
  max-width: 33%;
  left: 85%;
  bottom: 0;
}
.hidden-over {
  overflow-x: hidden;
}
.socials-share {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem 0;
}
.share-link {
  @include d-center;
  background-color: #000000;
  border-radius: 50%;
  width: size(60);
  height: size(60);
  margin: 0 0.5rem;
  box-shadow: 0.2rem 0.5rem 1.3181818182rem rgb(0 0 0 / 60%);
  .fab {
	color: #ffffff;
	font-size: size(50);
  }
  img {
	width: 75%;
  }
}
.curr-cat-posts-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: size(16) 5%;
}
.curr-cat-post {
  @include d-center;
  margin-bottom: size(15);
  text-align: center;
  color: $text-color;
  font-size: size(18);
  line-height: size(20);
  font-weight: 300;
  transition: font-weight .5s;
  &:hover {
	color: $text-color;
	font-weight: 400;
	transition: font-weight .5s;
  }
}
.cat-link-side {
  padding: size(10);
  margin-bottom: 6px;
}
//Gallery on page class
.gallery-img {
  display: flex;
  @include back-img;
  &:after {
	padding-bottom: 73%;
	content: '';
	display: block;
  }
}
.faq-teachers {
  .faq {
	margin-top: 1rem;
  }
}
.teacher-col {
  display: none !important;
  &.show {
	display: block !important;
  }
}
.load-more-teachers.hide {
  display: none;
}
.teachers-block {
  margin-bottom: size(60);
}
.about-img-col {
  img {
	width: 100%;
	margin-top: -4rem;
  }
}
//homepage
.home-main-block {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: #000000;
  @include back-img;
  padding: size(120) 0;
  min-height: size(700);
}
.main-home-title {
  text-shadow: 1px 1px 13px rgba(0, 0, 0, 0.75);
  color: #ffffff;
  font-size: size(93);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(70);
  text-align: center;
  margin-bottom: size(20);
}
.logo {
  @include d-center;
}
.main-logo {
  margin-bottom: size(20);
  img {
	max-height: size(235);
  }
}
.cats-slider-block {
  padding: size(40) 0 size(60) 0;
  background-color: #130d09;
  .base-output {
	* {
	  color: #ffffff;
	}
  }
  .slick-slider .slick-track, .slick-slider .slick-list {
	display: flex !important;
  }
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	top: 30%;
	width: size(32);
	height: size(48);
  }
  [dir="rtl"] .slick-prev {
	right: -2rem;
  }
  [dir="rtl"] .slick-next{
	left: -2rem;
  }
}
//Team slider on homepage
.home-team-block {
  padding: size(70) 0 size(120) 0;
  .slick-current{
	transform: scale(1.3);
	.team-overlay {
	  opacity: 0;
	  transition: opacity .5s;
	}
  }
}
.home-team-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}
.team-overlay {
  @include overlay;
  background-color: rgba(0, 0, 0, 0.64);
  opacity: 1;
  transition: opacity .5s;
}
.team-slide {
  position: relative;
  padding: 52px;
  transform: scale(1);
  transition: all .5s;
  &.is-active{
	transform: scale(1.1);
  }
}
.arrows-slider-violet {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	width: size(25);
	height: size(38);
  }
  [dir="rtl"] .slick-prev {
	background-image: url("../iconsall/slider-arrow-right.png");
	right: 0;
  }
  [dir="rtl"] .slick-next{
	background-image: url("../iconsall/slider-arrow-left.png");
	left: 0;
  }
}
//Video slider on homepage
.home-video-block {
  padding: size(80) 0 size(50) 0;
}
.video-slide {
  padding: size(40);
}
.video-item {
  position: relative;
  width: 100%;
  @include back-img;
  box-shadow: 0 0 23px 1px rgba(30, 32, 30, 0.43);
  border: 3px solid #000000;
  background-color: #ffffff;
  &:after {
	content: '';
	display: block;
	padding-bottom: 66%;
  }
}
.play-video {
  @include overlay;
  @include d-center;
  cursor: pointer;
  img {
	width: size(57);
  }
}
//Posts on homepage
.home-posts-block {
  padding-top: size(100);
}
.home-post-col {
  @include back-img;
}
.shadow-img-post {
  box-shadow: 0 0 27px rgba(0, 0, 0, 0.3);
}
.home-post-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 8%;
}
.post-row:nth-child(even) {
  flex-direction: row-reverse;
}
.home-slider-page.transparent-slider {
  position: relative;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  [dir="rtl"] .slick-prev {
	background-image: url("../iconsall/slider-arrow-right.png");
  }
  [dir="rtl"] .slick-next{
	background-image: url("../iconsall/slider-arrow-left.png");
  }
}
.purple-circle {
  position: absolute;
  left: -1rem;
  width: 35%;
  background-color: $green-main;
  border-radius: 50%;
  &:after {
	content: '';
	display: block;
	padding-bottom: 100%;
  }
}
.slider-home-img {
  position: relative;
  z-index: 8;
}
//Benefits on homepage
.benefits-section {
  padding: size(140) 0;
  background-image: url("../img/why-us-back.png");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 60%;
}
.circle-ben {
  @include d-center;
  width: size(500);
  height: size(500);
  padding: 20%;
  border-radius: 50%;
  box-shadow: 21px 21px 32px 8px rgba(172, 169, 169, 0.75);
  background-color: #f9f8f8;
  .logo-ben {
	@include d-center;
  }
  &:before {
	//content: ;
  }
}
.benefit-item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: size(36);
  &:nth-child(2), &:nth-child(4) {
	margin-left: size(50);
  }
  &:nth-child(3) {
	margin-left: size(70);
  }
}
.ben-title {
  color: $text-color;
  font-size: size(36);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(34);
}
.benefit-number {
  text-shadow: 3px 2px 10px rgba(0, 0, 0, 0.66);
  color: #ffffff;
  font-size: size(100);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(65);
  margin-right: size(30);
}
.ben-img-col {
  position: relative;
  @include d-center;
}
.ben-img {
  position: absolute;
  right: -70%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  img {
	max-width: unset;
	max-height: size(760);
  }
}

@import "responsive";
